.comp {
  position:absolute;
}
/*=========================
SECCION 2   FLOTANTES
=========================*/
.ef_s2_izq {
  right: calc(100% - 40px);
  top: 18%;
}
.ef_s2_der {
  left: calc(100% - 100px);
  top: 28%;
}
.el_2_1 {
  left: calc(50vw - 40px);
  bottom: -12vh;
}
.el_2_1 .r {
  top: 26px;
  left: 8px;
}
/*Comp*/
#seccion_2 .comp1 {
  top: 30px;
  left: -220px;
  animation: rotar 4s linear infinite;
}
#seccion_2 .comp2 {
  top: 30px;
  left: -60px;
  animation: rotar 4s linear infinite;
}

/*=========================
SECCION 3   FLOTANTES
=========================*/
.el_3_1 {
  left: calc((100vw - 1360px) / 2 * -1);
  top: 12%;
}
.el_3_1 .r {
  top: 8px;
  left: 1px;
}
.gif_s3_1 {
  top: 14px;
  left: 88px;
  width: 54px;
}
.el_3_2 {
  right: -40px;
  top: 33%;
}
.el_3_2 .r {
  top: 8px;
  left: 8px;
}
.gif_s3_2 {
  left: 88px;
  top: 108px;
  width: 66px;
}
.el_3_2 .gce_s3_2{
  width: 126px;
  height: 43px;
  top: 14px;
  left: 16px;
  border-radius: 5px;
}


.el_3_3 {
  left: 60px;
  bottom: -170px;
}
/*=========================
SECCION 4   FLOTANTES
=========================*/
.ef_s4_izq {
  right: calc(100% - 80px);
  top: 0;
}
.ef_s4_der {
  left: calc(100% - 100px);
  top: 18%;
}
/*=========================
SECCION 5   FLOTANTES
=========================*/
.el_5_1 {
  left: calc((100vw - 1360px) / 2 * -1);
  bottom: 25px;
}
.el_5_2 {
  left: 100%;
  top: -10%;
}
.el_5_3 {
  right: calc((100vw - 1360px) / 2 * -1);
  bottom: 20px;
  margin-right: -20px;
}
.ef_s5_izq {
  left: calc((100vw - 1360px) / 2 * -1);
  bottom: 50px;
  margin-left: -60px;
}
.ef_s5_der_top {
  right: calc((100vw - 1360px) / 2 * -1);
  bottom: 45%;
  margin-right: -60px;
}
.ef_s5_der_bot {
  right: -80px;
  bottom: 15px;
  
}
/*Pildoras*/
.btn_pildora {
  position: absolute;
  cursor: pointer;
  z-index:10;
  transform: scale(.87);
  animation: destello 1s ease infinite alternate;
}
.btn_pildora:focus {
  outline: none;
}
.btn_pil_s1_1 {
  right: 40px;
  top: 100px;
}
.pil_s1_1 {
  margin-left: -200px !important;
}
.popover-header {
  display: none 
}
/*Pil 2*/
.btn_pil_s1_2 {
  left: 200px;
  top: 305px;
}
.pil_s1_2 {
  margin-left: -240px !important;
  margin-top: -390px !important;
}
/*Pil 3*/
.btn_pil_s2_2 {
  right: 310px;
  top: 355px;
}
/*Pil 4*/
.btn_pil_s3_2 {
  right: 634px;
  top: 385px;
}
.pil_s3_2 {
  margin-left: -180px !important;
  margin-top: -420px !important;
}